  <div id="bracelet" class="container-fluid">
  <section class="bracelet__content--1">
    
	  <%= render partial: 'layouts/top_navbar' %>
	
  <div class="container menu">

      <%= render partial: 'layouts/navbar' %>

		</div>
	
		<div class="cover"></div>
		<div class="container">
      
      <%= bracelet_header %>

		</div>
	
		</section>

  </div>