  <div id="contact" class="container-fluid">
  <section class="contact__content--1">
 	
 	<%= render partial: 'layouts/top_navbar' %>
 	
  <div class="container menu">
			
			<%= render partial: 'layouts/navbar' %>
			
		</div>
		
		<div id="googleMap" style="height:580px;"></div>
		<div class="corak"></div>
		<div class="container">
		<center>
		
<h3><i>Send your hope and be the warrior of </i> <b>HOPE</b></h3>
<h4>Telp: 021- 75912030<br><br>
Gedung Adedanmas Lantai 3. Jl. TB. Simatupang Kav. 5 <br>Cilandak Barat Jakarta Selatan - Indonesia 12430<br><br>
info@iamhope.com<br>
www.iamhope.com</h4>	
</center>

		</div>
	
		</section>
	<section class="contact__content--2" id="contact__form">
		<div class="container">
	<center>
	<h4>Fill up this form to contact us if you have any futher questions</h4>	
	</center>
	<div class="form">
	<div class="col-md-6 col-xs-12 col-sm-6">
	<input type ="text" placeholder="FIRST NAME">
	</div>
		<div class="col-md-6 col-xs-12 col-sm-6">
	<input type ="text" placeholder="LAST NAME">
	</div>
	<div class="col-md-12">
	 <input type="email" placeholder="EMAIL">
	</div>
	<div class="col-md-12">
<textarea rows="8" cols="50" placeholder="MESSAGE"></textarea>
	</div>
		<div class="col-md-12">
<div class="col-md-9 col-xs-12 col-sm-9" style="padding-left:0px"><p>I hereby certify that the information above is true and accurate.</p>
	</div>
	<div class="col-md-3 col-xs-12 col-sm-12 pull-right" style="    padding-right: 0px;">
	<button>SUBMIT</button>
	</div>
	</div>
	</div>
	</div>
	</section>

  </div>
    