  <div id="upcoming" class="container-fluid">
  <section class="upcoming__content--1">
    
  	<%= render partial: 'layouts/top_navbar' %>

    <div class="container menu">

      <%= render partial: 'layouts/navbar' %>
    
		</div>
		<div class="container">

      <%= events_header %>
      
		</div>
	
	</section>
  </div>