  <div id="health" class="container-fluid">
  <section class="health__content--1">
       	
    <%= render partial: 'layouts/top_navbar' %>
       	
  <div class="container menu">
			
		<%= render partial: 'layouts/navbar' %>
			
	</div>
	
	<div class="container">
		
		<%= news_header %>

    <div class="col-md-12 col-xs-12 col-sm-12 health__video ">
    <div class="col-md-offset-2 col-md-4   col-sm-6">
    <img src="/assets/img/health/health-1.jpg">
    </div>
    <div class=" col-md-4 col-sm-6">
    <img src="/assets/img/health/health-2.jpg">
    </div>
    </div>
	</div>

	</section>
  </div>