  <div id="login" class="container-fluid">
  <section class="login__content--1">

    <%= render partial: 'layouts/top_navbar' %>

  <div class="container menu">

    <%= render partial: 'layouts/navbar' %>
    
		</div>

	
		</section>
	<section class="login__content--2" id="login__form">
		<div class="container">
	<center>
	<h4>Sign In</h4>	
	
	<div class="form">
<div class="col-md-12 col-sm-12 col-xs-12">
<input type="text" placeholder="Email">
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
<input type="text" placeholder="Password">
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
<button type="submit">Login</button>
	</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="forgot__pass">
		<br>
<span class="pull-left">Forgot Password?</span>
<span class="pull-right">Register</span>
	</div>
	</div>
	</center>
	</div>
	</div>
	</section>
  </div>