  <div id="register" class="container-fluid">
  <section class="register__content--1">
    	    	
    <%= render partial: 'layouts/top_navbar' %>

    <div class="container menu">

      <%= render partial: 'layouts/navbar' %>

		</div>
		

		</section>
	<section class="register__content--2" id="register__form">
		<div class="container">
	<center>
	<h4>Register</h4>	

	<div class="form">
	<div class="col-md-12 col-xs-12 col-sm-12">
		<label>Contact Person</label>
	 <input type="text">
	</div>
	<div class="col-md-12 col-xs-12 col-sm-12">
		<label>Phone Number</label>
	 <input type="text">
	</div>
	<div class="col-md-12 col-xs-12 col-sm-12">
		<label>Email</label>
	 <input type="email">
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6">
	<label>Password</label>
	<input type ="text" >
	</div>
		<div class="col-md-6 col-xs-12 col-sm-6">
		<label>Confirm Password</label>
	<input type ="text" >
	</div>
	
	
		<div class="col-md-12 col-xs-12 col-sm-12">

	
	<button>Join Us</button>
	
	</div>
	</div>	</center>
	</div>
	</section>


  </div>