<div class="container menu__atas">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="pull-left col-md-3 bahasa col-xs-4 col-sm-4">
    	<%= link_to raw(image_tag('img/eng.jpg', {class: 'img-responsive'})), url_for(params.merge(lang: 'en')) %>
    	<%= link_to raw(image_tag('img/ind.jpg', {class: 'img-responsive'})), url_for(params.merge(lang: 'id')) %>
	  </div>
	  <div class="pull-right col-md-4  col-xs-8 col-sm-4 mobile__login">
	    <ul>
      <li><%= link_to 'Sign In', authenticate_login_url %>
    	<li><%= link_to 'Register', authenticate_register_url %></li>
    	</ul>
    	<i class="fa fa-shopping-cart"></i>
  	</div>
	</div>
</div>